.header {
  width: 100%;
  padding: 35px 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 15px;
}
.header .logo img {
  width: 150px;
}
.dropdown {
  background-color: var(--main-bg-4);
  display: flex;
  gap: 6px;
  padding: 5px 10px;
  border-radius: 8px;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  transition: all 350ms ease-in-out;
  outline: none;
  border: none;
}

.dropdown:hover,
.dropdown:focus {
  background-color: var(--main-bg-5);
}

.dropdown img {
  width: 12px;
  position: relative;
}
